.categories, 
.submit,
.playAgain {
  display:none;
}

li {
  list-style: none;
}

/* Modal styles begin */

.modal {
  visibility: hidden;
  z-index: 20;
  width: 50%;
  height: 380px;
  overflow: auto;
  background: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  padding-bottom: 100px;
}

.modal.active {
  visibility: visible;
  min-width: 356px;
  animation-name: slidein;
  animation-duration: 0.5s
}

/* Modal Animation */
@keyframes slidein {
  from {top: -800px; opacity: 0}
  to {top: -900; opacity: 1}
}

.modalOverlay {
  width: 100%;
  height: 100%;
  background: #000000;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  opacity: 55%;
  visibility: hidden;
}

.modalOverlay.active {
  visibility: visible;
}

/* Modal styles end */