$ubuntu: 'Ubuntu', sans-serif;
$robot: 'VT323', monospace;
$background: #407086;
$entertainment: #DA67B2;
$science: #1C7A5F;
$art: #7B553E;
$geography: #349DD7;
$sports: #DC6428;
$history: #E7CC41;
$button: rgb(187, 162, 35);
$white: #FFFFFF;
$label: #222268;
$black: #000000;
