$ubuntu: 'Ubuntu', sans-serif;

$robot: 'VT323', monospace;

$background: #477C94;

$entertainment: #DA67B2;

$science: #1D8B65;

$art: #996B4D;

$geography: #349DD7;

$sports: #DC6428;

$history: #E7CC41;

$button: rgb(187, 162, 35);

$white: #FFFFFF;

$label: #222268;

$black: #000000;